media queires
menu page
home page
about page
global
navegaton

/*HEADING*/
.1️⃣ {
  color: gold;
  display: flex;
  justify-content: space-around;
  font-family: "Staatliches", cursive;
  font-size: 120px;
  margin-bottom: -60px;
}
/*SUBHEADING*/
.2️⃣ {
  color: gold;
  display: flex;
  justify-content: space-around;
  font-family: "Staatliches", cursive;
  font-size: 40px;
  margin-bottom: 40px;
}
/*BODY*/
body {
  color: gold;
  font-family: "Archivo Narrow", sans-serif;
  font-size: 20px;
  text-align: center;
}
/*GALLERY*/
/*ICONS*/
#menu {
  display: flex;
  justify-content: center;
}
#menu img {
  width: 100% !important;
  height: auto !important;
}
/*LINKS*/
