media queires
menu page
home page
about page
global
navegaton

/*HEADING*/
.🍏 {
  color: gold;
  display: flex;
  justify-content: space-around;
  font-family: "Staatliches", cursive;
  font-size: 120px;
  margin-bottom: -60px;
}
/*SUBHEADING*/
.2️⃣ {
  color: gold;
  display: flex;
  justify-content: space-around;
  font-family: "Staatliches", cursive;
  font-size: 40px;
  margin-bottom: 40px;
}
/*BODY*/
body {
  color: gold;
  font-family: "Archivo Narrow", sans-serif;
  font-size: 20px;
  text-align: center;
}
/*GALLERY*/
/*ICONS*/
.{
  display: flex;
  justify-content: space-around;
  width: 20%;
  height: 20%;
  background-size: cover;
  left: 40%;
  position: relative;
  top: 100px;
  margin-bottom: 125px;
}
/*LINKS*/
img {
  width: 100%;
  max-width: 500px;
}
