media queires
menu page
home page
about page
global
navegaton

/*HEADING*/
.🍏 {
  color: gold;
  display: flex;
  justify-content: space-around;
  font-family: "Staatliches", cursive;
  font-size: 120px;
  margin-bottom: -60px;
}
/*SUBHEADING*/
.🍎 {
  color: gold;
  display: flex;
  justify-content: space-around;
  font-family: "Staatliches", cursive;
  font-size: 40px;
  margin-bottom: 40px;
}
/*BODY*/
body {
  color: gold;
  font-family: "Archivo Narrow", sans-serif;
  font-size: 20px;
}
p.copyright {
  display: flex;
  justify-content: space-around;
  font-style: italic;
}
/*GALLERY*/
/*MENU*/
.GeneratedMarquee {
color:#996600;
}
.🍐 {
  justify-content: space-around;
  max-width:40%;
  width: auto;
  background-size: cover;
  left: 40%;
  position: relative;
  top: 100px;
  margin-bottom: 125px;
}
/*LINKS*/
