/*EFFECTS*/
.shake:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

img.main {
  z-index: 2;
}
img.glow {
  z-index: 1;
  transform: scale(1.0) translate(-100%, 0%);
  -webkit-transform: scale(1.0) translate(0%, 0%);
  filter: brightness(0) invert(1) blur(8px);
  -webkit-filter: brightness(0) invert(1) blur(8px);
  opacity: 0;
}
img.main:hover ~ img.glow {
  opacity: 1;
}

/*HEADING*/
.🍏 {
  color: gold;
  display: flex;
  justify-content: center;
  font-family: "Staatliches", cursive;
  font-size: 120px;
  margin-bottom: -60px;
  width: auto;
  font-size: 9vw;
}
.🌮 {
  transform: translateY(-10%);
  animation: floater 3s infinite;
  transition: ease 1s;
  width: auto;
  display: flex;
  justify-content: space-around;
  max-width: 40%;
  background-size: cover;
  margin-top: 15px;
}
/*SUBHEADING*/
.🍎 {
  color: gold;
  display: flex;
  justify-content: space-around;
  font-family: "Staatliches", cursive;
  font-size: 40px;
  margin-bottom: 40px;
}
/*BODY*/
body {
  color: gold;
  font-family: "Archivo Narrow", sans-serif;
  font-size: 20px;
  background-image: url("https://cdn.glitch.global/7991a611-6cc7-4f4e-9079-fe77ce4bc020/Web%20Design%20Background%20%5BB1%5D.png?v=1651010843410");
  background-repeat: repeat;
  background-attachment: fixed;
}
p.copyright {
  display: flex;
  font-size: 1vw;
  justify-content: space-around;
  font-style: italic;
}
/*GALLERY*/
/*MENU*/
/*FOOTER*/
.GeneratedMarquee {
  color: #996600;
}
.🍐 {
  justify-content: center;
  max-width: 150px;
  background-size: cover;
  position: relative;
  top: 100px;
  margin-bottom: 125px;
}
.🍗 {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
/*LINKS*/
nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
/*media queires
menu page
home page
about page
global
navegaton*/
